.card {
  border-radius:10px;
  border: 1px solid #ccc;
  background: #fff;
  float: left;
}

.card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.header {
  text-align: center;
}

.title {
  font-size: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.icx {
  width: 80px;
  height: 90px;
  display: block;
  margin: auto;
}