@use 'introduction';

// Google Font
@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");

$marlowe-purple: #511CF7;

/* You can override the default Infima variables here. */
:root {
  --ifm-font-family-base: 'Inter';
  --ifm-link-color: #511CF7;
  --ifm-link-hover-color: #511CF7;
  --ifm-link-hover-decoration: #511CF7;

  --ifm-menu-color-active: #511CF7;

  --ifm-navbar-link-hover-color: #511CF7;

  --ifm-breadcrumb-color-active: #511CF7;
}

article {
  margin-left: 3rem;
  margin-right: 3rem;
}

.sub-heading {
  grid-column: 1 / -1;

  & h3 {
    margin-bottom: 10px;
  }
}

.front-matter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  grid-column: 1 / -1;

  iframe {
    aspect-ratio: 16 / 9;
    height: 100%;
    width: 100%;
    border-radius: 8px;
  }

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
  }
}

.arrow {
  transition: all 0.3s ease-in-out;
  display: grid;
  margin-left: 6px;

  path {
    stroke: $marlowe-purple;
  }
}