@use 'colors';
@use 'fonts';
@use 'docs';

article {
  margin-left: 3rem;
  margin-right: 3rem;
}

.sub-heading {
  grid-column: 1 / -1;

  & h3 {
    margin-bottom: 10px;
  }
}

.front-matter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  grid-column: 1 / -1;

  iframe {
    aspect-ratio: 16 / 9;
    height: 100%;
    width: 100%;
    border-radius: 8px;
  }

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
  }
}

.arrow {
  transition: all 0.3s ease-in-out;
  display: grid;
  margin-left: 6px;

  path {
    stroke: var(--color-marlowe-purple);
  }
}
