.theme-code-block {
  box-shadow: none !important;
}

pre code {
  background-color: var(--ifm-code-background);
}

.prism-code code {
  background-color: var(--color-marlowe-grey-4);
  .theme-code-block-highlighted-line {
    background-color: var(--color-marlowe-grey-8);
  }
}

.pagination-nav {
  .pagination-nav__link {
    &:not(:empty) {
      box-shadow: var(--ifm-global-shadow-lw);

      .pagination-nav__label {
        font-size: 1rem;
      }

      .pagination-nav__sublabel {
        display: none;
      }
    }
  }  
}

html[data-theme='dark'] {
  .prism-code code {
    background-color: var(--color-marlowe-grey-20);
    .theme-code-block-highlighted-line {
      background-color: var(--color-marlowe-grey-16);
    }
  }
}

html[data-theme='dark'] {
  code {
    background-color: var(--color-marlowe-grey-20);
  }
}